<div class="mobile-menu is-open">
    <div class="menu-container">
      <div class="menu-up-wrap">
        <a href="./index.html" class="menu-logo logo">
          <svg width="160" height="68" class="menu-logo-icon logo-icon">
            <use href="../images/icons.svg#company-logo"/>
          </svg>
          </a>
          <button type="button" class="menu-close-btn" aria-label="Close menu">
          <svg width="24" height="24" class="menu-close-icon">
            <use href="../images/icons.svg#close"/>
          </svg>
        </button>
      </div>
      <div class="menu-down-wrap">
        <nav class="menu-nav">
          <ul class="menu-nav-list nav-list">
            <li class="menu-nav-item"><a href="#about-us" class="menu-nav-link nav-link">About us</a></li>
            <li class="menu-nav-item"><a href="#benefits" class="menu-nav-link nav-link">Benefits</a></li>
            <li class="menu-nav-item"><a href="#gallery" class="menu-nav-link nav-link">Gallery</a></li>
            <li class="menu-nav-item"><a href="#testimonials" class="menu-nav-link nav-link">Testimonials</a></li>
            <li class="menu-nav-item"><a href="#contacts" class="menu-nav-link nav-link">Contacts</a></li>
          </ul>
        </nav>
        <a href="#contacts-form" class="menu-order-btn custom-btn">Order Now</a>
      </div>
    </div>
  </div>