<section class="gallery" id="gallery">
  <div class="container">
    <div class="gallery-info">
      <h2 class="gallery-title">Jewelry Showcase</h2>
      <p class="gallery-text">Discover the beauty of our handcrafted jewelry in style.</p>
    </div>
    <div class="gallery-photo">
    <div class="gallery-first-part">
      <ul class="gallery-first-list">
        <li class="gallery-first-item">
          <img
                class="gallery-img-first"
                srcset="/images/gallery1.webp 1x,
                /images/gallery1@2x.webp 2x"

                src="/images/gallery1.webp"
                alt="Handmade bracelet of amethyst and black onyx beads"
                width="335"
                height="335"
              />
        </li>
        <li class="gallery-first-item">
          <img
                class="gallery-img-second"
                srcset="/images/gallery2.webp 1x,
                /images/gallery2@2x.webp 2x"

                src="/images/gallery2.webp"
                alt="Gold pendant with an oval fire opal cabochon"
                width="335"
                height="335"
              />
        </li>
      </ul>
    </div>
    <div class="gallery-second-part">
      <ul class="gallery-second-list">
        <li class="gallery-second-item">
          <img
                class="gallery-img-third"
                srcset="/images/gallery3.webp 1x,
                /images/gallery3@2x.webp 2x"

                src="/images/gallery3.webp"
                alt=""
                width="335"
                height="335"
              />
        </li>
        <li class="gallery-second-item">
          <img
                class="gallery-img-fourth"
                srcset="/images/gallery4.webp 1x,
                /images/gallery4@2x.webp 2x"

                src="/images/gallery4.webp"
                alt=""
                width="335"
                height="335"
              />
        </li>
      </ul>
    </div>
    </div>
  </div>
</section>