<section class="testimonials" id="testimonials">
  <div class="container">
    <h2 class="testimonials-title">Customer testimonials</h2>

    <p class="testimonials-description">
      Absolutely love my new earrings! They are stunning.
    </p>

    <ul class="testimonials-list">
      <li class="testimonials-item">
        <div class="testimonials-images">
          <div class="images-wrapper">
            <img
              class="images-item"
              srcset="
                /images/testimonials1.webp    1x,
                /images/testimonials1@2x.webp 2x
              "
              src="/images/testimonials1.webp"
              alt="Woman wearing a handmade earring"
              width="335"
              height="260"
              loading="lazy"
            />
          </div>

          <div class="images-wrapper">
            <img
              class="images-item"
              srcset="
                /images/testimonials2.webp    1x,
                /images/testimonials2@2x.webp 2x
              "
              src="/images/testimonials2.webp"
              alt="Man wearing a handmade necklace"
              width="335"
              height="260"
              loading="lazy"
            />
          </div>
        </div>

        <div class="testimonials-content">
          <ul class="testimonials-rating" aria-label="4 out of 5 stars">
            <li class="rating-image">
              <svg class="testimonials-star" width="24" height="24">
                <use href="/images/icons.svg#star-filled"></use>
              </svg>
            </li>
            <li class="rating-image">
              <svg class="testimonials-star" width="24" height="24">
                <use href="/images/icons.svg#star-filled"></use>
              </svg>
            </li>
            <li class="rating-image">
              <svg class="testimonials-star" width="24" height="24">
                <use href="/images/icons.svg#star-filled"></use>
              </svg>
            </li>
            <li class="rating-image">
              <svg class="testimonials-star" width="24" height="24">
                <use href="/images/icons.svg#star-filled"></use>
              </svg>
            </li>
            <li class="rating-image">
              <svg class="testimonials-star" width="24" height="24">
                <use href="/images/icons.svg#star-outline"></use>
              </svg>
            </li>
          </ul>

          <p class="testimonials-text">
            "Each piece tells a story, and I love mine!"
          </p>

          <p class="testimonials-author">Thomas Mans</p>
        </div>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-images">
          <div class="images-wrapper">
            <img
              class="images-item"
              srcset="
                /images/testimonials3.webp    1x,
                /images/testimonials3@2x.webp 2x
              "
              src="/images/testimonials3.webp"
              alt="Hands holding a cup of coffee"
              width="335"
              height="260"
              loading="lazy"
            />
          </div>
          <div class="images-wrapper">
            <img
              class="images-item"
              srcset="
                /images/testimonials4.webp    1x,
                /images/testimonials4@2x.webp 2x
              "
              src="/images/testimonials4.webp"
              alt="Hands holding a handmade ring"
              width="335"
              height="260"
              loading="lazy"
            />
          </div>
        </div>

        <div class="testimonials-content">
          <ul class="testimonials-rating" aria-label="5 out of 5 stars">
            <li class="rating-image">
              <svg class="testimonials-star" width="24" height="24">
                <use href="/images/icons.svg#star-filled"></use>
              </svg>
            </li>
            <li class="rating-image">
              <svg class="testimonials-star" width="24" height="24">
                <use href="/images/icons.svg#star-filled"></use>
              </svg>
            </li>
            <li class="rating-image">
              <svg class="testimonials-star" width="24" height="24">
                <use href="/images/icons.svg#star-filled"></use>
              </svg>
            </li>
            <li class="rating-image">
              <svg class="testimonials-star" width="24" height="24">
                <use href="/images/icons.svg#star-filled"></use>
              </svg>
            </li>
            <li class="rating-image">
              <svg class="testimonials-star" width="24" height="24">
                <use href="/images/icons.svg#star-filled"></use>
              </svg>
            </li>
          </ul>

          <p class="testimonials-text">
            "The craftsmanship is exquisite, and I feel unique wearing it."
          </p>

          <p class="testimonials-author">Jane Edison</p>
        </div>
      </li>
    </ul>
  </div>
</section>
