<section>
<!-- ТУТ знаходяться суто приклади, а також просто експерименти -->
  <div class="container">
<!--    <nav class="nav">-->
<!--      <ul class="nav-list">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">About us</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Benefits</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#" aria-disabled="true" tabindex="-1">Gallery</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </nav>-->

<!--    <div>-->
<!--      <button class="custom-btn" type="submit">Order Now</button>-->
<!--    </div>-->
<!--    <br>-->
<!--    <div>-->
<!--      <a class="custom-btn" href="#">Order Now</a>-->
<!--    </div>-->

<!--    <div>-->
<!--      <h1>h1</h1>-->
<!--      <h2>h2</h2>-->
<!--      <h3>h3</h3>-->
<!--      <p>pppppp</p>-->
<!--      <a class="custom-link" href="#">Link</a>-->
<!--      <a class="custom-link" href="#">Link1</a>-->
<!--      <a class="custom-link" href="#">Link2</a>-->
<!--      <a class="custom-link" href="#">AAAAAAAAAAAAAAAAAAAAAA</a>-->
<!--    </div>-->

  </div>
</section>