@keyframes underline-rollback-bg {
  0% {
    background-size: 100% 1px;
    background-position-x: 100%;
  }
  50% {
    background-size: 0 1px;
    background-position-x: 100%;
  }
  51% {
    background-size: 0 1px;
    background-position-x: 0;
  }
  100% {
    background-size: 100% 1px;
    background-position-x: 0;
  }
}