.contacts {
  padding: 64px 0;
  background: #fff;
}

.contacts-header {
  width: 100%;
  margin-bottom: 48px;
}

.contacts-label-wrapper {
  margin-bottom: 16px;
}

.contacts-label {
  font-family: var(--font-main);
  font-weight: 600;
  color: var(--color-dark);
  margin-bottom: 16px;
}

.contacts-title-wrapper {
  margin: 0 auto;
}

.contacts-title {
  margin-bottom: 24px;
}

.contacts-text {
  font-size: 18px;
}

.contacts-content {
}

.contacts-info {
  margin-bottom: 32px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.contacts-icon {
  flex-shrink: 0;
}

.contacts-item-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contacts-subtitle {
  font-family: var(--font-accent);
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts-form-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}

.contacts-input {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding-block: 8px;
  padding-inline: 12px;
  width: 100%;
  height: 40px;
  outline: none;
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-input:focus {
  border-color: #ccc16e;
  outline: none;
}

.contacts-input::placeholder {
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-input:focus::placeholder {

color: rgba(0, 0, 0, 0.6);

}

.contacts-input:user-invalid {
  border-color: #8c0000;
}

.contacts-input:user-invalid::placeholder {
  color: #8c0000;
}

.contacts-textarea {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 12px;
  width: 100%;
  height: 180px;
  resize: none;
}

.contacts-textarea:focus {
  border-color: #ccc16e;
  outline: none;
}

.contacts-textarea:focus::placeholder {

color: rgba(0, 0, 0, 0.6);
}

@media only screen and (min-width: 768px) {
  .contacts {
    padding: 64px 0;
  }

    .contacts-list {
    flex-direction: row;
    gap: 25px
  }

  .contacts-item {
    width: 218px;
  }
}

@media only screen and (min-width: 1440px) {
  .contacts {
    padding: 64px 0;
  }

    .contacts-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 32px;
    width: 640px;
    height: 248px;
  }

  .contacts-form {
    width: 640px;
    order: 1;
  }

  .contacts-info {
    width: 640px;
    margin-bottom: 0;
    order: 2;
  }

  .contacts-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
  }

  .contacts-item {
    width: 304px;
  }
}