.hero {
background-image:linear-gradient( rgba(0, 0, 0, 0.3)),
 url(../images/hero-bg.webp);
background-size: 375px auto;
    background-position: center top;
    background-repeat: no-repeat;
}
@media (min-resolution:192dpi) {
    .hero {
        background-image: url(../images/hero-bg@2x.webp);
    }
}
@media (min-width: 768px) {
    .hero {
        background-size: 768px auto;
    }
}
@media (min-width: 1440px) {
    .hero {
        background-size: 1440px auto;
        background-position: 50% 32%; 
        /* Добре підсказав Саша з цими процентами */
    }
}
.hero-title {
padding-top:160px;
padding-bottom:24px;
}
@media (min-width: 768px) {
    .hero-title {
        max-width: 512px;
        padding-top: 200px;
        padding-bottom:0px;
        margin-bottom: 24px;
    }
}
@media (min-width: 1440px) {
    .hero-title {
        max-width: 640px;
        margin-top: 224px;
    }
}
.hero-p {
    margin-bottom: 32px;
}
@media (min-width: 768px) {
    .hero-p {
        max-width: 465px;
    }
}
@media(min-width: 1440px) {
    .hero-p {
        max-width: 512px;
    }
}
.hero-link{
    margin-bottom: 152px;
}
@media (min-width: 768px) {
    .hero-link {
        margin-bottom: 435px;
    }
}
@media (min-width: 1440px) {
    .hero-link {
        margin-bottom: 360px;
    }
}

