*, *::before, *::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button, input, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  vertical-align: middle;
}

input, textarea {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: 2px solid transparent;
}

textarea {
  resize: none;
  field-sizing: content;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

address {
  font-style: normal;
}